.btn-brand{
  background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}
.text-brand{
  color:#1cc7c1
}

.button{
  background-image: linear-gradient(to right, rgb(125, 216, 163), rgb(86, 184, 184));
  font-weight: 600;
  color: white;
}